html{
    --color-verde: #849C3C;
    --color-negro: #353535;
    --color-rojo: #D33040;
    --color-gris: lightgray;
    --fondo-negro: #2c2c2c;
    --color-line: #949494;
    --color-azul: lightblue;
    --color-blanco: white;
}
body{
    font-size: 16px;
    margin: 0 auto;
    max-width: 1024px;
}
header input{
    text-align: right;
}
header nav ul{
    margin-left: -50px;
}
header nav ul li:nth-child(1){
    width: 17.81%;
}
header nav ul li{
    display: inline-block;
    text-align: center;
    padding: 8px 14px;
    margin: 0px -3px;
    width: 17.5%;

}

header nav ul li:nth-child(2){
    background: var(--color-verde);
}
header nav ul li:nth-child(3){
    background: var(--color-negro);
}
header nav ul li:nth-child(4){
    background: var(--color-rojo);
}
header nav ul li:nth-child(5){
    background: var(--color-gris);
}
section, footer{
    background: var(--fondo-negro);
    padding-bottom: 20px;
}
section article{
    display: inline-block;
    vertical-align: top;
    padding: 18px 8px;
    padding-right: 5px;
    height: 280px;
    margin: 0px -4px;
    width: 19.19%;
    
}
section article ul{
    list-style: none;
}
section article:nth-child(2){
    background: var(--color-verde);
}
section article:nth-child(3){
    background: var(--color-negro);
}
section article:nth-child(4){
    background: var(--color-rojo);
}
section article:nth-child(5){
    background: var(--color-gris);
}
section img{
    width: 150px;
}
footer article{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 30%;
}
footer article img{
    width: 300px ;
}
hr{
    border: dashed;
    color: var(--color-gris);
}
.letra-blanca{
    color: white;
}
.letra-azul{
    color: var(--color-azul);
}
.letra-gris{
    color: var(--color-line);
}
.tam-letra-menu{
    font-size: 1.1em;
}
.tam-letra-tarjeta{
    font-size: 1.7em;
}.read-more{
    margin-left: 220px;
}