article{
    border-radius: 5px;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}

#uno{
    /*si no soporta gradientes, este color aparecera*/
    background: red;
    /*opera*/
    background: -o-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
    /*firefox*/
    background: -moz-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
    /*safari*/
    background: -webkit-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
    /*Edge*/
    background: -ms-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
    /*todos*/
    background: linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
}
#dos{
    /*si no soporta gradientes, este color aparecera*/
    background: red;
    /*opera*/
    background: -o-linear-gradient(to left,red, yellow,green);
    /*firefox*/
    background: -moz-linear-gradient(to left,red, yellow,green);
    /*safari*/
    background: -webkit-linear-gradient(to left,red, yellow,green);
    /*Edge*/
    background: -ms-linear-gradient(to left,red, yellow,green);
    /*todos*/
    background: linear-gradient(to left,red, yellow,green);
}
#tres{
    /*si no soporta gradientes, este color aparecera*/
    background: red;
    /*opera*/
    background: -o-linear-gradient(to right,red, yellow,blue);
    /*firefox*/
    background: -moz-linear-gradient(to right,red, yellow,blue);
    /*safari*/
    background: -webkit-linear-gradient(to right,red, yellow,blue);
    /*Edge*/
    background: -ms-linear-gradient(to right,red, yellow,blue);
    /*todos*/
    background: linear-gradient(to right,red, yellow,blue);
}
#cuatro{
    /*si no soporta gradientes, este color aparecera*/
    background: red;
    /*opera*/
    background: -o-linear-gradient(to right bottom,red, yellow,blue);
    /*firefox*/
    background: -moz-linear-gradient(to right bottom,red, yellow,blue);
    /*safari*/
    background: -webkit-linear-gradient(to right bottom,red, yellow,blue);
    /*Edge*/
    background: -ms-linear-gradient(to right bottom,red, yellow,blue);
    /*todos*/
    background: linear-gradient(to right bottom,red, yellow,blue);
}
#cinco{
    /*si no soporta gradientes, este color aparecera*/
    background: red;
    /*opera*/
    background: -o-linear-gradient(to left bottom,red, yellow,green);
    /*firefox*/
    background: -moz-linear-gradient(to left bottom,red, yellow,green);
    /*safari*/
    background: -webkit-linear-gradient(to left bottom,red, yellow,green);
    /*Edge*/
    background: -ms-linear-gradient(to left bottom,red, yellow,green);
    /*todos*/
    background: linear-gradient(to left bottom,red, yellow, green);
}
#seis{
    /*si no soporta gradientes, este color aparecera*/
    background: red;
    /*opera*/
    background: -o-linear-gradient(70deg,red, yellow,blue);
    /*firefox*/
    background: -moz-linear-gradient(70deg,red, yellow,blue);
    /*safari*/
    background: -webkit-linear-gradient(70deg,red, yellow,blue);
    /*Edge*/
    background: -ms-linear-gradient(70deg,red, yellow,blue);
    /*todos*/
    background: linear-gradient(70deg,red, yellow,blue);
}
#siete{
    /*si no soporta gradientes, este color aparecera*/
    background: red;
    /*opera*/
    background: -o-repeating-linear-gradient(180deg,black, white,black 10%);
    /*firefox*/
    background: -moz-repeating-linear-gradient(180deg,black, white,black 10%);
    /*safari*/
    background: -webkit-repeating-linear-gradient(180deg,black, white,black 10%);
    /*Edge*/
    background: -ms-repeating-linear-gradient(180deg,black, white,black 10%);
    /*todos*/
    background: repeating-linear-gradient(180deg,black, white,black 10%);
}
.texto{
    position: relative;
    top: 15px;
}