body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1078px;
    min-width: 1078;
}
header input{
    float: right;
    margin-top: 25px;
    margin-right: -200px;
}
header nav{
    margin-left: 220px;
}
header nav ul li{
    border-bottom: 1px solid #aaa;
    color: #aaa;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 15px;

}
footer{
    background: rgba(60,101,177);
    color: white;
    margin-top: 40px;
    padding: 40px;
    padding-bottom: 0px;
}
footer article{
    display: inline-block;
    width: 25%;

    padding: 0px 10px;
    vertical-align: bottom;
    text-align: center;
}
footer article input[type="button"]{
    position: relative;

    border-radius: 10px;
    border: 2px solid white;
    color: white;
    background-color:transparent;
}
#granthams{
    margin-left: 25px;
    margin-top: 25px;
}
#paint{
    float: right;
    margin-top: -10px;
}
#seccion01 article{
    display: inline-block;
}
#seccion01{
    height: 318px;
    margin-top: 60px;
}
#sec01art01{
    margin-left: 30px;
    width: 60%;
}
#sec01art02{
    margin-left: 50px;
    width: 30%;
    vertical-align: top;

}
#sec01art02 ul{

    list-style: none;
    margin-left: -40px;
}
#sec01art02 ul li:before{
    content:"• ";
    color: #FF0099;
    
}
#spoff{
    position: relative;
    top: -425px;
    left: -30px;
}
#seccion03 article{
    display: inline-block;
    vertical-align: top;
    width: 22%;
}
#seccion03 article img{
    vertical-align: middle;
}
#sec03art04{
    padding-top: 40px;
}
#sec03art04 input[type="button"]{
    background: #8bc500;
    color: white;
    border-radius: 2px;
    border: none;
}
#boton{
    text-align: center;
    
}
.colver{
    color: #8bc500;
}
.colazul{
    color: blue;
}
.colrosa{
    color: #FF0099;
}
.letragran{
    font-size: 3.5em;
}
.letramid{
    font-size: 2em;
}
.nito{
    font-weight: bold;
}
.derecha{
    position: relative;
    right: -800px;
}
.medio{
    padding:0px 80px;
}
.derecha{
    
    font: right;
}
#facebook{
    position: relative;
    top: -242px;
}
#Twitter{
    position: relative;
    top: -243px;
}
#personas{
    position: relative;
    top: -250px;
}